html
	head
		title Resilience
		link(rel='stylesheet' href='app.css?v=0.4')
		link(rel="icon" type="image/png" href="icon.png" sizes="192x192")
		link(rel="apple-touch-icon" href="icon.png" sizes="180x180")

		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	body
		//- home button
		.logo
			for i in [1,2,3]
				div.bar
		.infobutton i
		//- instructions
		#instructions
			p To begin weaving click on the loom and choose four conceptual threads <br> Click on the concepts to view the related photographic haiku
		//- loom
		each i, loomindex in loom
			div.header(class=i.name)
				.title &nbsp;
				.buttons
					each t, threadindex in i.threads
						.link(class=t.name, data-column=(loomindex == 0 ? threadindex : null) data-row=(loomindex == 0 ? null : (i.threads.length - threadindex - 1))) #{t.name}
			each t, index in i.threads
				div.thread(class=t.name,data-clips=t.clips, data-column=(loomindex == 0 ? index : null ), data-row=(loomindex == 0 ? null : index))
					video(loop, muted)
						//- source(src=t.clip)
		//- grid
		- var xthreads = loom[0].threads
		- var ythreads = loom[1].threads
		each x, xindex in xthreads
			each y, yindex in ythreads
				.grid(data-column=xindex, data-row=yindex)
		//- haikus
		for axis in loom
			for thread in axis.threads
				div.haiku(class=thread.name)
					.title= thread.name
					each haiku, index in thread.haiku
						.slide
							div.panel.sidebar(data-bg=('img/haiku/'+thread.name+'-'+(index+1)+'a.jpg'))
							div.panel.image(data-bg=('img/haiku/'+thread.name+'-'+(index+1)+'.jpg'))
							div.panel.text
								p!= haiku.text
								h6= haiku.caption
		//- footer
		.header.bottom
			button#playButton Play Sequence
		//- intro
		div#intro
			for item in intro
				.slide !{item.text}
			button(class='introbutton') Skip Intro
		//- Bio Page
		div#bio
			.globe
				img(src='img/map/globe.png')
			each map, index in maps
				.section
					.inner
						.left
							for person in map.people
								.person
									.image(style='background-image: url(img/map/'+person.image+'.jpg)')
									p= person.name
						.map
							img(src='img/map/map-'+(index+1)+'.jpg')
							for i in [1,2,3,4]
								.bar
						.right
							for item in map.data
								.item
									h6= item.name
									p!= item.data
			.background-container
				for i in ['map/map-top','map/map-middle','haiku/underground-2']
					.background(style='background-image: url(img/'+i+'.jpg)')
		#info
			.info-container
				.info
					include ./partials/info.jade
				.credits.artist
					.inner
						h3 Filmmaker, Artist, Activist and Designer
						p Kelly Skye is a multimedia artist, filmmaker and ecologist. Her work explores expanded forms of documentary film  and photography. Through these mediums she works  to co-create visions of ecological resilience that are  based on ideas of systems thinking and embedded  interdependence. Her guiding intention is to support  community-based efforts to restore and protect  life-sustaining ecologies. 
						a(href='http://kelly-skye.com', target='_blank') kelly-skye.com
				.credits
					include ./partials/credits.jade
		//- video
		div#video
		//- script
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//f.vimeocdn.com/js/froogaloop2.min.js')
		script(src='js/t.js')
		script(src='app.js?v=0.4')